# dependencies
node_modules
no_commit

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Nuxt build
.nuxt

# Nuxt generate
dist

# Bulma build
.tmp

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sublime-*

# misc
.DS_Store
